# Browsere moderne - reduce polyfills și legacy JavaScript
# Target doar ultimele 2 versiuni ale browserelor moderne

[production]
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
last 2 iOS versions
last 2 Android versions
not dead
not IE 11

[development]
last 1 Chrome version
last 1 Firefox version
last 1 Safari version
